body{
    background-color: #FAF1E4;
}
td{
    text-align: center;
  }
.Atas td{
  height: 35px;
  font-size: large;
}
.Bawah td{
  height: 280px;
  font-size: large;
}
td p{
  font-family:  'Times New Roman', Times, serif ;
}
table{
    border: 0;
    width: 100%;
}
.Header{
    background-color: pink;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.pinggir{
    width: 120px;
}
.Bawah td img{
    width: 260px;
    height: 280px;
}

